 <app-header></app-header>
 <!-- Wrapper Starts -->
 <div class="wrapper">
    <div class="container-fluid user-auth">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <!-- Logo Starts -->
            <a class="logo" href="index-2.html">
                <img id="logo-user" class="img-responsive" src="assets/images/logo-dark.png" alt="logo">
            </a>
            <!-- Logo Ends -->
            <!-- Slider Starts -->
            <div id="carousel-testimonials" class="carousel slide carousel-fade" data-ride="carousel">
                <!-- Indicators Starts -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
                </ol>
                <!-- Indicators Ends -->
                <!-- Carousel Inner Starts -->
                <div class="carousel-inner">
                    <!-- Carousel Item Starts -->
                    <div class="item active ">
                        <img  src="assets/images/backgrounds/404.jpg" alt="coin">
                        <img src="assets/images/backgrounds/404.jpg" alt="coin">
                        <div>
                            <blockquote>
                                <footer><span>Bitcoin  prediction</span>, Smart Predictor</footer>
                           </blockquote>  
                        </div>
                    </div>
                    <!-- Carousel Item Ends -->
                    <!-- Carousel Item Starts -->
                    <div class="item ">
                        <img  src="assets/images/backgrounds/446.jpg" alt="coin">
                        <img  src="assets/images/backgrounds/446.jpg" alt="coin">
                        <div>
                            <blockquote>
                                <footer><span>Bitcoin  prediction</span>, Smart Predictor</footer>
                           </blockquote>  
                        </div>
                    </div>
                    <!-- Carousel Item Ends -->
                    <!-- Carousel Item Starts -->
                    <div class="item ">
                        <img  src="assets/images/backgrounds/447.jpg" alt="coin">
                        <img  src="assets/images/backgrounds/447.jpg" alt="coin">
                        <div>
                            <blockquote>
                                <footer><span>Stock  prediction</span>, Smart Predictor</footer>
                           </blockquote>  
                        </div>
                    </div>
                    <!-- Carousel Item Ends -->
                </div>
                <!-- Carousel Inner Ends -->
            </div>
            <!-- Slider Ends -->
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <!-- Logo Starts -->
            <a class="visible-xs" href="index-2.html">
                <img id="logo" class="img-responsive mobile-logo" src="assets/images/logo-dark.png" alt="logo">
            </a>
            <!-- Logo Ends -->
            <div class="form-container">
                <div>
                    <!-- Section Title Starts -->
                    <div class="row text-center">
                        <h2 class="title-head hidden-xs">member <span>login</span></h2>
                         <p class="info-form">Enter Yours Details</p>
                    </div>
                    <!-- Section Title Ends -->
                    <!-- Form Starts -->
                    <form>
                        <!-- Input Field Starts -->
                        <div class="form-group">
                            <input class="form-control" name="email" id="email" placeholder="EMAIL" type="email" required>
                        </div>
                        <!-- Input Field Ends -->
                        <!-- Input Field Starts -->
                        <div class="form-group">
                            <input class="form-control" name="password" id="password" placeholder="PASSWORD" type="password" required>
                        </div>
                        <!-- Input Field Ends -->
                        <!-- Submit Form Button Starts -->
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">login</button>
                            <p class="text-center">don't have an account ? <a href="register">register now</a>
                        </div>
                        <!-- Submit Form Button Ends -->
                    </form>
                    <!-- Form Ends -->
                </div>
            </div>
       </div>
   </div>
 </div>
 <br>
 <app-footer></app-footer>